<ion-content class="bg-img">
    <div class="main-content">
        <div padding text-center class="container-logo">
            <img src="assets/images/rail-logo.png">
        </div>

        <div padding class="container-bottom">
            <form [formGroup]="authForm" (ngSubmit)="userLogin(loginData)">

                <!-- Error Messages -->
                <div class="errormsg">
                    <div *ngIf="email.errors && email.touched">
                        <p>An Email is required.</p>
                    </div>
                    <div *ngIf="password.errors && password.touched">
                        <p>A Password is required.</p>
                    </div>
                </div>
                <!-- /Error Messages -->

                <!-- Email/Password Login Form -->
                <ion-list>
                    <ion-item padding-right>
                        <ion-label>
                            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                        </ion-label>
                        <ion-input [(ngModel)]="loginData.email" [formControl]="email" id="email" type="text" required placeholder="Email *"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
                        </ion-label>
                        <ion-input [(ngModel)]="loginData.password" [formControl]="password" id="password" type="{{passwordType}}" required placeholder="Password *"></ion-input>
                        <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()"><ion-icon name="{{passEye}}"></ion-icon></button>
                    </ion-item>
                </ion-list>

                <button type="submit" ion-button full color="default" [disabled]="!authForm.valid">Sign In</button>
                <!-- /Login Form -->
            </form>

            <div padding text-center class="form-bottom-text" >
                <a href="javascript:void(0);" (click)="forgetpassword()">Forgot password?</a>
            </div>
            <div padding text-center class="form-bottom-text">
                <label>Don't have an Account?&nbsp;&nbsp;<a href="javascript:void(0);" (click)="moveToRegister()">Sign up</a></label>
            </div>
        </div>

        <!-- Social Login buttons -->
        <div class="sepretor-or" padding-horizontal>
            <p>Or</p>
        </div>

        <div padding text-center class="form-bottom-text">
            <label>Sign up with </label>
        </div>
        
        <div text-center class="socialLogin" padding>
            <button ion-button class="google" (click)="socialLogin('google')"><ion-icon name="logo-google" style="margin-right: 12px;"></ion-icon>Google</button>
            <button ion-button class="facebook" (click)="socialLogin('facebook')"><ion-icon name="logo-facebook" style="margin-right: 12px;"></ion-icon> Facebook</button>
        </div>
        <!-- <div text-center class="socialLogin" padding>
            <button ion-button full class="google" (click)="socialLogin('google')"><ion-icon name="logo-google" style="margin-right: 12px;"></ion-icon>Sign in with Google</button>
            <button ion-button full class="facebook" (click)="socialLogin('facebook')"><ion-icon name="logo-facebook" style="margin-right: 12px;"></ion-icon> Sign in with Facebook</button>
        </div> -->
    </div>
</ion-content>
